html, body{
    margin: 0;
    padding: 0;
}

.partOne{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}


.cadreQuestion{
    display: flex;
    text-align: center;
    width: 700px;
    height: 220px;
    border: 3px solid black;
    font-size: 35px;
}

.partTwo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.partThree{
   display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    height: 350px;
    border: 3px solid black;
    font-size: 35px;
}
.cadreReponseUne{
    display: flex;
    justify-content: center;
    padding-bottom: 140px;
    gap: 50px;


}


.cadreReponseDeux{
    display: flex;
    justify-content: center;
    padding-top: 140px;
    gap: 50px;
    padding-right: 200px;
}


.reponseAChoisirA{
    display: flex;
    border: 2px solid black;
    width: 450px;
    height: 130px;

}

.reponseAChoisirB{
    display: flex;
    border: 2px solid black;
    width: 450px;
    height: 130px;

}



