html, body{
    margin: 0;
    padding: 0;
}

.partieUne{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}


.cadreQuestion{
    display: flex;
    text-align: center;
    width: 700px;
    height: 220px;
    border: 3px solid black;
    font-size: 35px;
}

.partieDeux{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.partieTrois{
   display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    height: 350px;
    border: 3px solid black;
    font-size: 35px;
}




.cadreReponseUne{
    display: grid;
    gap: 10px


}



